.header {
    height: 120px;
    background-image: linear-gradient(0, #fe6433, #f53e2d);
}

.header__navbar-list {
    list-style: none;
}

.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    font-size: 1.5rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
    display: inline-flex;
    align-items: center;
}

.header__navbar-item:hover,
.header__navbar-item-link:hover,
.header__navbar-icon-link:hover {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.header__navbar-list {
    display: inline-block;
    padding-left: 0;
    margin-top: 4px;
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar-item {
    margin: 0px 8px;
    position: relative;
    min-height: 26px;
}

.header__navbar-item:hover .header__notify {
    display: block;
}

.header__navbar-item--has-qr:hover .header__qr {
    display: block;
}

.header__navbar-item--strong {
    font-weight: 500;
}

.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    border-left: 1px solid white;
    height: 12px;
    right: -8px;
    top: 50%;
    transform: translateY(-60%);
}

.header__navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-icon {
    font-size: 1.8rem;
    margin: 0px 4px;
}

.header__navbar-title--no-poiter:hover {
    cursor: text;
    color: white;
}

.header__qr {
    width: 186px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: 100%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    margin-top: 6px;
    animation: fadeIn ease 1s;
}

.header__qr::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 20px;
    left: 0;
    top: -20px;
}

.header__qr-img {
    width: 100%;
}

.header__qr-apps {
    display: flex;
    justify-content: space-between;
}

.header__qr-download-img {
    height: 15px;
}

.header__qr-link:first-child {
    margin-left: 8px;
}

.header__qr-link:last-child {
    margin-right: 8px;
}

/* Header Notification */
.header__notify {
    position: absolute;
    top: 118%;
    right: 0px;
    width: 404px;
    border: 1px solid #d3d3d3;
    transform-origin: 95% top;
    background-color: var(--white-color);
    animation: headerNotifyGrowth ease-in 0.5s;
    display: none;
}

.header__notify::before {
    content: "";
    border: 20px solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 12px;
    top: -29px;
}

.header__notify::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    width: 90px;
    height: 20px;
    top: -10px;
}

@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    }

    to {
        transform: scale(var(--growth-to));
    }
}

.header__notify-header {
    height: 40px;
    background-color: var(--white-color);

}

.header__notify-header h3 {
    color: #666;
    padding: 12px;
    font-weight: 400;
    font-size: 1.4rem;
}

.header__notify-list {}

.header__notify-link {
    display: flex;
    padding: 12px;
    text-decoration: none;
}

.header__notify-img {
    width: 48px;
    object-fit: contain;
}

.header__notify-info {
    margin-left: 12px;
}

.header_notify-item {
    background-color: rgba(238, 75, 43, 0.1);
}

.header_notify-item:hover {
    background-color: rgba(0, 0, 50, 0.1);
}

.header__notify-name {
    display: block;
    font-size: 1.4rem;
    color: var(--black-color);
    font-weight: 400;
}

.header__notify-descrition {
    display: block;
    font-size: 1.2rem;
    color: #756F6E;
}

.header__notify-footer {
    text-align: center;

    display: flex;
}

.header__notify-footer-btn {
    text-decoration: none;
    color: var(--text-color);
    padding: 12px;
    margin: auto;
}

.header__notify-header:hover {
    cursor: default;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    animation: fadeIn ease-in 0.5s;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__body {
    --growth-from: 0.7;
    --growth-to: 1;
    background-color: var(--white-color);
    margin: auto;
    z-index: 1;
    border-radius: 5px;
    animation: growth linear 0.1s;
}

/* Authen modal */
.auth-form__container {
    padding: 0px 32px;
}

.auth-form__container::after {
    content: "";
    display: block;
    height: 30px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 0;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth-form__switch-btn {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--primary-color);
    cursor: pointer;
}

.auth-form__form {
    margin-top: 8px;
}

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 16px;
    font-size: 1.4rem;
    border-radius: 2px;
    outline: none;
    border: #888 solid 1px;
}

.auth-form__input:focus {
    border: #333 solid 2px;
}

.auth-form__aside {
    margin-top: 16px;
    text-align: center;

}

.auth-form__aside::after {
    content: "";
    display: block;
    height: 40px;
}

.auth-form__policy-text {
    font-size: 1.2rem;
}

.auth-form__policy-link {
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form__controls {
    display: flex;
    justify-content: flex-end;
}

.btn {
    min-width: 142px;
    padding: 12px 20px;
    border-radius: 2px;
    background-color: transparent;
    color: var(--text-color);
    font-weight: 500;
    font-size: 1.6rem;
}

.auth-form__controls .btn:first-child::after {
    content: "";
    display: block;
    width: 100px;
}

.btn.btn-primary {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.auth-form__social {
    padding: 10px 10px;
    display: flex;
    justify-content: space-around;
    background-color: gainsboro;
}

.btn.btn--with-icon {
    text-decoration: none;
    padding: 10px;
    background-color: rgb(8, 82, 194);
    border-radius: 5px;
}

.btn.btn--with-icon.btn-google {
    background-color: var(--white-color);
}

.fa-facebook-square,
.facebook {
    color: var(--white-color);
}

.fa-google,
.google {
    color: var(--primary-color);
}

.btn:hover {
    border: var(--black-color) solid 1px;
    border-radius: 5px;
}